body {
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 40px
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3A506B;
  padding-top: 20px;
  padding-left: 10px;
  color: #fff;
}

.sidebar p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-size: 40px;
}

.social-links{
  display: flex ;
  flex-direction: row;
}

.social-links a {
  display: block;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 10px;;
  color: #fff;
  text-decoration: none;
}

.profile img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.container-fluid{
  margin-left: 410px;
  padding: 20px;
  background-color: #e1efff;
}

.container-fluid h3{
  margin-left: 450px;
  margin-top: 100px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.container-fluid p{
  margin-left: 450px;
  margin-right: 40px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;

}

.col-md-12{
  margin-bottom: 50px;
}

